/* header */
.header {
  display: flex;
  align-items: center;
  height: 60px;

  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.header__logout {
  margin-left: auto;
  display: none;
}

.header__logout.is-visible {
  display: block;
}

.header__logo--compact {
  width: 20px;
  height: auto;
}

.header__logout img {
  width: 28px;
  height: auto;
}

.header__logo--full {
  display: none;
}

@media (min-width: 768px) {
  .header__logo--compact {
    display: none;
  }

  .header__logo--full {
    display: block;
    width: 70px;
  }
}

/* Card */
.card__avatar {
  border-radius: 50%;
}

.card__content {
  aspect-ratio: 4 / 5;
  width: 100%;
  overflow: hidden;
}

.card__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer  */
footer {
  background-color: var(--color-brand-dark);
  color: var(--color-brand-lime);
}
.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1152px;
  height: 240px;
  margin: 0 auto;
  padding: var(--container-padding) var(--container-padding);
}

.footer__logo {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

/* Buttons  */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gradient-main);
  font-weight: var(--font-w-medium);
  height: 50px;
  max-width: 430px;
  width: 100%;
  border-radius: 8px;
}

.btn__text {
  display: inline-block;
  transition: transform 0.4s ease;
}

.btn:hover .btn__text {
  transform: scale(1.06);
}

/* input fields */

input {
  background-color: rgba(234, 253, 126, 0.1);
  height: 50px;
  width: 100%;
  padding: 0 var(--space-4);
  border-radius: 8px;
  outline: 1px solid var(--color-neutral-100);
}

input:focus {
  outline: none;
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff), var(--color-gradient-main);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.has-error {
  outline: 1px solid var(--color-error);
}

.txt {
  font-size: var(--font-size-200);
}

.txt--error {
  color: var(--color-error);
}

.txt--help {
  color: var(--color-brand-lavender);
  background-color: rgba(175, 152, 239, 0.1);
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--color-brand-lavender);
}

/* Links */
.links,
.links:visited {
  color: var(--color-brand-lavender);
}

.links:hover {
  text-decoration: underline;
}
