.create {
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  padding: 0 var(--container-padding);
  flex-direction: column;
  text-align: center;
}

.create__preview {
  margin: var(--space-5) auto;
  aspect-ratio: 4/5;
  max-width: 600px;
}

.create__preview-img {
  width: 100%;
  height: auto;
}

.create-btn {
  margin: var(--space-2) 0;
}
